body {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}


.bg-img {
  /* The image used */
  background-image: url("https://burst.shopifycdn.com/photos/business-team-meeting-boardroom.jpg?width=925&format=pjpg&exif=1&iptc=1");

  min-height: 450px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.container-fluid {
  padding: 3% 10%;
}



/* Navbar links */
.navbar {
  padding-bottom: 1rem;
  background-color: #0081B4;
  border-radius: 10px 100px / 120px;
  height: 50%;
}

.info {
  padding-top: 5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat";
}


#contact {
  padding: 0 7%;
}

.contact-section {
  padding-top: 10%;
}

.contact-img {
  width: 20%;
  padding-top: 10%;
}

.contact-title-text {
  padding: 3% 0;
  letter-spacing: 8px;
  color: #00337C;
}


.contact-text {
  padding-bottom: 5%;
  font-family: "Montserrat";
  font-weight: 900;
}

.contact-form {
  padding-top: 10%;
}

.contact-form-title {
  padding-bottom: 5%;
  font-family: "Montserrat";
  font-weight: 900;
}


.form-control {
  border-radius: 30px;
}

.icons {
  padding-right: 40px;
  float: Left;
  color: #55c48b;
}

.icons:hover {
  color: #01849f;
}

.icon-text {
  padding: 4%;
}


#last-section {
  background-color: #E3F6FF;
  padding: 7% 10%;
}

.lastsection-title {
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.last-section-description {
  letter-spacing: 2px;
  word-spacing: 8px;
}

.lastsection-div {
  padding-left: 15%;
}

.social-icon {
  color: #55c48b;
  padding: 15% 6%
}

.social-icon:hover {
  color: #579BB1;
}

.copyright {
  padding-top: 3%;
  text-align: center;
}
